body {
	background: #ddd;
}

#board {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.player {
	margin: 20px;
	background: url("/img/sprite.png") no-repeat;
	height: 33px;
	width: 30px;
}

.up {
	background-position: 0px -96px;
}

.left {
	background-position: 0px -32px;
}

.right {
	background-position: 0px -64px;
}

.row {
	display: flex;
}

.cell {
	height: 70px;
	width: 70px;
	border: 1px solid #000;
}

.target-cell {
	background-color: #050;
}
